<%= form_with(model: poketype) do |form| %>
  <% if poketype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poketype.errors.count, "error") %> prohibited this poketype from being saved:</h2>

      <ul>
        <% poketype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="actions align-center">
    <%= form.submit class:"actions btn btn-warning"%>
  </div>
<% end %>
