<%= form_with(model: pokemon) do |form| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
        <% pokemon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :base_experience %>
    <%= form.text_field :base_experience, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :weight%>
    <%= form.text_field :weight, class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :img%>
    <%= form.text_field :img, class:"form-control"%>
  </div>

  <div class="align-center">
    <br><br>
    <%= form.submit class:"actions btn btn-warning"%>
  </div>
<% end %>
