<h1>Pokemons</h1>
<div class="container">
  <div class="row p-4">
    <div class="col-9"></div>
    <div class="col-3 align-right">
      <%= link_to '+ Create a new pokemon', new_pokemon_path, class:"btn btn-success"%>
    </div>
  </div>
  <div class="row"></div>

  <div class="row">
    <% @pokemons.each do |pokemon| %>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="<%= pokemon.img %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= pokemon.name.capitalize%></h5>
            <%= link_to 'Show', pokemon, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_pokemon_path(pokemon), class: "btn btn-warning"%>
            <%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

